 body{
    background-image: url(../images/butter_closeup3.jpg);
    padding: 10px;
 }
 
 div.main{
    display: flex;
    justify-content:right;
    justify-content: space-around;

 }
 div.right{
    margin: 10px;
 }
 .right{
   color:white;
   cursor: pointer;
 }
 span{

   padding-right: 200px;
   color:white;
   font-size: 40px;
   text-shadow:2px 4px 6px green;
   cursor: pointer;
 }
 .fa-camera{
   padding-right: 100px;
   color:white;
   font-size: 40px;
   text-shadow:2px 4px 6px green;
   cursor: pointer;
 }
 a{
   text-decoration: none;
   color:chartreuse;
 }
 a:visited{
   text-decoration: none;
   color:chartreuse;
 }
 a:hover{
   box-shadow: 10px 10px 10px red;
 }