 body{
    background-image: url(../images/butter_closeup3.jpg);
    padding: 10px;
 }
 
 div.main{
    display: flex;
    justify-content:right;
    justify-content: space-around;

 }
 div.right{
    margin: 10px;
 }
 .left{
   margin-right: 300px;
 }
 .fa-camera{
   padding-right: 100px;
   color:rgb(1, 231, 239);
   font-size: 40px;
   text-shadow:2px 4px 6px green;
 }